<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, World!</title>
    <style>
        *{
        margin: 0;
        padding: 0;
        }
        p{
            margin-top: 20px;
            font-size: 20px;
            padding: 20px; 
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        header {
            background-color: #4CAF50; 
            color: white;            
            padding: 20px;            
        }
    </style>
</head>
<body>
    <header>
        <h1>{{ app_name }}</h1>
    </header>
    
    <p>Hello, World! Welcome to the {{ app_name }} app!</p>
</body>
</html>
